* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content-1 {
    background-image: url('../img/sama-ayang.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.navbar {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.navbar a {
    cursor: pointer;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.navbar h1 {
    color: #ffffff;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    z-index: 1;
    animation: textFadeIn 3s ease-in-out infinite alternate;
}

.content p {
    font-size: 1.5rem;
    color: white;
    max-width: 800px;
    text-align: center;
    z-index: 1;
    animation: textFadeIn 3s ease-in-out infinite alternate;
}

/* Definisi animasi untuk teks */
@keyframes textFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0; 
}

.content-2 {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 100vh;
}

.content-2 h1 {
    color: white;
    margin-bottom: 20px;
}

.conten-p  {
    color: white;
    margin-bottom: 40px;
}

.photo-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.photo-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 23%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.photo-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.photo-item .comming {
    margin-top: 50%;
}

.photo-item p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.photo-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.photo-item span i {
    margin-right: 5px;
    color: #FF6347;
}

.content-3 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    text-align: center;
}

.content-3 h1 {
    margin-bottom: 20px;
    color: white;
}

.content-3 p {
    margin-bottom: 50px;
    color: white; 
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.images .syauqi {
    width: 200px;
    height:300px;
    object-fit: cover;
}

.images .putri {
    width: 200px;
    height:300px;
    object-fit: cover;
}

.sec-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-1 img {
    height: 200px;
}

.sec-1 audio {
    margin-top: 10px; 
}

.content-4 {
    background-image: url('../img/danau.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.content-4 p {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .content-1 {
        height: 70vh;
    }

    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .navbar a {
        margin: 5px 0;
        font-size: 1rem;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content p {
        font-size: 1.2rem;
    }

    .photo-item {
        width: 45%;
    }

    .content-2, .content-3, .content-4 {
        height: auto; /* Biarkan konten mengatur tinggi secara otomatis */
        padding: 20px;
    }

    .images .syauqi,
    .images .putri {
        width: 150px; /* Lebar lebih kecil untuk tampilan tablet */
        height: 200px; /* Tinggi lebih kecil untuk tampilan tablet */
    }
}

@media (max-width: 480px) {
    .content-1 {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .content {
        padding: 10px;
    }

    .content h1 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .content-2 h1 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .content-2 p {
        font-size: 0.5rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .content p {
        font-size: 0.7rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .photo-item {
        width: 100%;
        margin: 5px 0;
    }

    .images .syauqi,
    .images .putri {
        width: 100px;
        height: 150px;
    }

    .sec-1 img {
        height: 100px;
    }

    .sec-1 audio {
        width: 100%;
        height: 30px;
        margin-top: 10px; /* Menambahkan jarak atas untuk audio */
    }
}
